{% extends 'base.html' %}
{% load static %}
{% block title %} | Auth{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/accounts/accounts.css' %}">
<style>
    footer {
        display: none; 
    }
</style>
{% endblock %}

{% block content %}
<div class="form-container">

    <!-- {% if messages %}
    <div class="error-message">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %} -->

    <div id="login-card" class="account-card">
        <div id="login-error-message">
        </div>

        <h2>Login</h2>
        <!-- <form id="login-form" method="post" action="{% url 'accounts:authenticate' %}"> -->
        <form id="login-form" method="post">
            <!-- {% csrf_token %} -->
            <input type="hidden" name="action_type" value="login">

            <div class="form-group input-icon">
                <i class="fa fa-user"></i>
                <input type="text" id="login-username" name="username" required placeholder="Username">
            </div>

            <div class="form-group input-icon password-toggle"> 
                <i class="fa fa-lock"></i> 
                <input type="password" id="login-password" name="password" required placeholder="Password"> 
                <i class="fa fa-eye toggle-password"></i>
            </div>

            <button type="submit">Accedi</button>
        </form>
    </div>

    <div id="registration-card" class="account-card" style="display:none;">
        <div id="register-error-message">
        </div>

        <h2>Registrazione</h2>
        <!-- <form id="registration-form" method="post" action="{% url 'accounts:authenticate' %}"> -->
        <form id="registration-form" method="post">
            {% csrf_token %}
            <input type="hidden" name="action_type" value="register">

            <div class="form-group input-icon">
                <i class="fa fa-user"></i>
                <input type="text" id="reg-username" name="username_r" required placeholder="Username">
            </div>

            <div class="form-row">
                <div class="form-group">
                    <input type="text" id="reg-nome" name="first_name" required placeholder="Nome">
                </div>
                <div class="form-group">
                    <input type="text" id="reg-cognome" name="last_name" required placeholder="Cognome">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group input-icon">
                    <i class="fa fa-calendar-alt"></i>
                    <input type="date" id="reg-data-nascita" name="data_nascita" required>
                </div>


                <div class="form-group input-icon geo-input-wrapper">
                    <i class="fas fa-map-marker-alt"></i> {# Icona del marker #}
                    <input type="text" id="reg-city-display" name="citta_display" placeholder="La tua città" readonly> {# Campo visibile #}
                    <input type="hidden" id="reg-city-hidden" name="citta"> {# Campo nascosto per l'invio #}
                </div>


            </div>

            <div class="form-group">
                <select id="reg-sesso" name="sesso" required>
                    <option value="">Sesso</option>
                    <option value="M">Maschio</option>
                    <option value="F">Femmina</option>
                    <option value="O">Altro</option>
                </select>
            </div>

            <div class="form-group input-icon">
                <i class="fa fa-envelope"></i>
                <input type="email" id="reg-email" name="email" required placeholder="Email">
            </div>

            <div class="form-row">
                <div class="form-group input-icon password-toggle">
                    <i class="fa fa-lock"></i>
                    <input type="password" id="reg-password" name="password1_r" required placeholder="Crea una password">
                    <i class="fa fa-eye toggle-password"></i>
                </div>
                <div class="form-group input-icon password-toggle">
                    <i class="fa fa-lock"></i>
                    <input type="password" id="reg-conferma-password" name="password2_r" required placeholder="Conferma la password">
                    <i class="fa fa-eye toggle-password"></i>
                </div>
            </div>

            
            <div class="terms-consent">
                <input type="checkbox" id="accept-terms" name="accept_terms" required>
                <label for="accept-terms">
                    Accetto i <a href="#" class="terms-link">Termini e Condizioni</a> e l'<a href="#" class="terms-link">Informativa sulla Privacy</a>
                </label>
            </div>
            <button type="submit">Registrati</button>
        </form>
    </div>

    <a href="#" class="toggle-link" id="toggle-to-registration">Non hai un account? Registrati qui</a>
    <a href="#" class="toggle-link" id="toggle-to-login" style="display: none;">Hai già un account? Accedi qui</a>
</div>
{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}

{% block script %}
<script src="{% static 'js/accounts/accounts.js' %}"></script>
<script src="{% static 'js/accounts/geolocation.js' %}"></script>
{% endblock %}