{% extends 'base.html' %}
{% load static %}
{% block title %} | Preferenze{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/accounts/preferences.css' %}">
{# Se vuoi un font diverso, includilo qui. Esempio con Google Fonts #}
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
{% endblock %}


{% block content %}

<div class="card_pref">
    <h2>Aggiorna le tue preferenze</h2> 
    <form method="post" action="{% url 'accounts:preferences' %}">
        {% csrf_token %}

        <div class="form-group">
            <label class="title">Sono interessato/a a:</label> {# Testo aggiornato #}
            <div class="preference-options">
                <label><input type="checkbox" name="interested_in" value="male"> Uomini</label>
                <label><input type="checkbox" name="interested_in" value="female"> Donne</label>
                <label><input type="checkbox" name="interested_in" value="others"> Altri</label>

                <div class="divider"></div>

                <label><input type="checkbox" name="interested_in" value="musica"> Musica</label>
                <label><input type="checkbox" name="interested_in" value="videogiochi"> Video Giochi</label>
                <label><input type="checkbox" name="interested_in" value="sport"> Sport</label>
                <label><input type="checkbox" name="interested_in" value="viaggi"> Viaggi</label>
                <label><input type="checkbox" name="interested_in" value="arte"> Arte</label>
                <label><input type="checkbox" name="interested_in" value="lettura"> Lettura</label>
                <label><input type="checkbox" name="interested_in" value="cucina"> Cucina</label>
                <label><input type="checkbox" name="interested_in" value="spiritualita"> Spiritualità</label>
                <label><input type="checkbox" name="interested_in" value="moda"> Moda</label>
                <label><input type="checkbox" name="interested_in" value="cinema-serie"> Cinema & Serie TV</label>
                <label><input type="checkbox" name="interested_in" value="fotografia"> Fotografia</label>
                <label><input type="checkbox" name="interested_in" value="natura"> Natura</label>
                <label><input type="checkbox" name="interested_in" value="uscite-romantiche"> Uscite Romantiche</label>
                <label><input type="checkbox" name="interested_in" value="spontaneita"> Spontaneità</label>
                <label><input type="checkbox" name="interested_in" value="relazione-seria"> Relazione Seria</label>
                <label><input type="checkbox" name="interested_in" value="avventure"> Avventure</label>
                <label><input type="checkbox" name="interested_in" value="ballo"> Ballo</label>
                <label><input type="checkbox" name="interested_in" value="amicizia"> Amicizia</label>
                <label><input type="checkbox" name="interested_in" value="tecnologia"> Tecnologia</label>
                <label><input type="checkbox" name="interested_in" value="volontariato"> Volontariato</label>
                <label><input type="checkbox" name="interested_in" value="goth"> Goth</label>
                <label><input type="checkbox" name="interested_in" value="casual"> Casual</label>
                <label><input type="checkbox" name="interested_in" value="animali"> Animali</label>
                <label><input type="checkbox" name="interested_in" value="commedia"> Commedia</label>
                <label><input type="checkbox" name="interested_in" value="passeggiate"> Passeggiate</label>
                <label><input type="checkbox" name="interested_in" value="filosofia"> Filosofia</label>
                <label><input type="checkbox" name="interested_in" value="relax"> Relax</label>
                <label><input type="checkbox" name="interested_in" value="lavoro"> Lavoro</label>
                <label><input type="checkbox" name="interested_in" value="crescita-personale"> Crescita Personale</label>
                <label><input type="checkbox" name="interested_in" value="cultura"> Cultura</label>
                <label><input type="checkbox" name="interested_in" value="minimalismo"> Minimalismo</label>
            </div>
        </div>

        <div class="form-group bio-group">
            <label class="title" for="bio">Parlaci un po' di te:</label> 
            <div class="bio-wrapper">
                <textarea name="bio" maxlength="255" id="bio" placeholder="Scrivi la tua bio qui..." style="resize: none;"></textarea>
                <div class="char-counter" id="charCount">0 / 255</div>
            </div>
        </div>

        <button type="submit">Salva Preferenze</button>
    </form>
</div>
{% endblock %}



{% block script %}
<script src="{% static 'js/accounts/preferences.js' %}"></script>
{% endblock %}