{% extends 'base.html' %}
{% load static %}

{% block title %} | Carica Foto{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/accounts/upload_photo.css' %}">
{% endblock %}

{% block content %}
<div class="profile-upload-wrapper">
  <div class="upload-card">
    <h2>Carica Foto Profilo</h2>
    <p>Clicca sul cerchio per caricare la foto:</p>

    <form id="upload-photo-form" method="post" action="{% url 'feed' %}" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="profile-pic-container" id="profile-pic-container">
        <img id="profile-pic"
             src="{{ user.profile_picture.url|default_if_none:'/media/profile_pics/default_profile_pic.png' }}"
             alt="Avatar">
        <div class="edit-icon">✏️</div>
      </div>

      <input type="file" id="image-upload" name="profile_picture" accept="image/*">

      <!-- <div class="preview-thumb">
        <img id="thumb-preview" src="" alt="Anteprima" style="display: none;">
      </div> -->

      <button type="submit" class="save-btn">✔ Salva la tua immagine</button>
    </form>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/accounts/upload_photo.js' %}"></script>
{% endblock %}
