{% extends 'base.html' %}
{% load static %}
{% block title %} | Feed{% endblock %}
{% block style %}
	<link rel="stylesheet" href="{% static 'css/feed/feed.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/feed/filters.css' %}"/>
    {# <link rel="stylesheet" href="{% static 'css/chat/chat.css' %}"/> #}
{% endblock %}

{% block content %}
<div class="feed-layout">

    <div class="feed-left-sidebar">
        {# Left Sidebar for Chat List #}
        <div class="chat-list-sidebar">
            <div class="search-bar">
                <input type="text" id="search-bar" placeholder="Search chat with your Matches">
            </div>
            <div class="chats" id="chats">
            </div>
        </div>   
            
        <div class="feed-filters-sidebar">
            <div>
                <h2 style="padding-top: 20px; margin-bottom: 15px;">Age Interval</h2>
                <div class="range-slider-container">
                    <div id="filledRangeTrack" style="left: 0%; width: 100%;"></div>
                    <input type="range" id="rangeInputMin" min="18" max="99" value="18">
                    <input type="range" id="rangeInputMax" min="18" max="99" value="99">
                </div>

                <div class="slider-value-display">
                    <span id="subRangeMinDisplay">18</span>
                    <span id="subRangeMaxDisplay">99</span>
                </div>
            </div>

            <div>
                <h2 style="padding-top: 20px; margin-bottom: 10px;">Max Distance [km]</h2>
                <input type="range" id="normalSlider" min="0" max="750" value="50">
                <div class="slider-value-display">
                    <span>0</span>
                    <span id="normalSliderValue">50</span>
                    <span>750</span>
                </div>
            </div>
        </div>
        
    </div>
    
    <div class="feed-feed-container">
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
<script type="text/javascript">
    function enterChat(username) {
        window.location.href = `/chat/${username}`;
    }
</script>

<script src="{% static 'js/feed/searchbar.js' %}"></script>
<script src="{% static 'js/feed/filters.js' %}"></script>

{% endblock %}
