{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MatchMe{% block title %}{% endblock %}</title>
	{% block style %}
	{% endblock %}
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
	<nav class="navbar">
		<div class="container">
			<div class="navbar-brand">
				<a href="#">MatchMe</a>
			</div>
			<ul class="navbar-nav">
				<li><a href="#">Home</a></li>
				<li><a href="#">Contact</a></li>
				<li><a href="#">About Us</a></li>
			</ul>
			<div class="navbar-actions">
				<div class="navbar-actions">
					<a href="{% url 'accounts' %}" class="btn-login">Login</a>
				</div>

			</div>
			<div class="hamburger" id="hamburger">
				<i class="fas fa-bars"></i>
			</div>
		</div>
	</nav>
	<main>
		{% block content %}
		{% endblock %}
	</main>
	<footer class="footer">
		<!-- <canvas id="hearts-canvas"></canvas> -->
		<div class="footer-container">
			<!-- Logo e descrizione -->
			<div class="footer-section">
				<h2 class="footer-title">MatchMe</h2>
				<p class="footer-text">Connetti cuori, trova la tua metà.</p>
			</div>

			<!-- Navigazione -->
			<div class="footer-section">
				<h3 class="footer-heading">Pagine</h3>
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Chi siamo</a></li>
					<li><a href="#">Funzionalità</a></li>
					<li><a href="#">Contatti</a></li>
				</ul>
			</div>

			<!-- Lavora con noi -->
			<div class="footer-section">
				<h3 class="footer-heading">Lavora con noi</h3>
				<ul>
					<li><a href="#">Posizioni aperte</a></li>
					<li><a href="#">Stage & Tirocini</a></li>
					<li><a href="#">Collabora</a></li>
				</ul>
			</div>

			<!-- Social -->
			<div class="footer-section">
				<h3 class="footer-heading">Seguici</h3>
				<ul class="social-links">
					<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
					<li><a href="#"><i class="fab fa-instagram"></i></a></li>
					<li><a href="#"><i class="fab fa-twitter"></i></a></li>
					<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
				</ul>
			</div>
		</div>

		<div class="footer-bottom">
			© 2025 MatchMe. Tutti i diritti riservati.
		</div>
	</footer>

	{% block script %}
	{% endblock %}
</body>

</html>