{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MatchMe{% block title %}{% endblock %}</title>
	{% block style %}
	{% endblock %}
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
	<script src="https://unpkg.com/lenis@1.3.3/dist/lenis.min.js"></script> 
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.13.0/gsap.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.13.0/ScrollTrigger.min.js"></script>
</head>

<body>
	<nav class="navbar">
		<div class="container">
			<div class="navbar-brand">
				<a href="{% url 'home' %}">MatchMe</a>
			</div>
			<ul class="navbar-nav">
				<li><a href="{% url 'home' %}">Home</a></li>
				<li><a href="{% url 'contact' %}">Contact</a></li>
				<li><a href="{% url 'about' %}">About Us</a></li>
			</ul>
			<div class="navbar-actions">
				{% if request.user.is_authenticated %}

					<div class="user-menu-container">
						<div class="user-avatar" id="userAvatarToggle">
							<img class="user-avatar-img" src="{% if request.user.profile_picture %}{{ request.user.profile_picture.url }}{% else %}{% static 'img/default.jpg' %}{% endif %}" 
							alt="Foto Profilo"> 
						</div>
						<div class="dropdown-menu" id="userDropdownMenu">
							<ul>
								<li><a href="/accounts/profile">Profile</a></li>
								<li><a href="#">Settings</a></li>
								<li><a href="{% url 'feed' %}">Feed</a></li>
								<li>
									<form method="POST" action="{% url 'accounts:logout' %}">
										{% csrf_token %}
										<button type="submit">Logout</button>
									</form>
								</li>
							</ul>
						</div>
					</div>

				{% else %}
					<div class="navbar-actions">
						<a href="{% url 'accounts:authenticate' %}" class="btn-login">Login</a>
					</div>
				{% endif %}

			</div>
			<div class="hamburger" id="hamburger">
				<i class="fas fa-bars"></i>
			</div>
		</div>
	</nav>
	<main>
		{% block content %}
		{% endblock %}
	</main>
	
	{% block footer %}
	{% endblock %}
	
	<!-- Scripts -->
	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', function() {
		const userAvatarToggle = document.getElementById('userAvatarToggle');
		const userDropdownMenu = document.getElementById('userDropdownMenu');

		if (userAvatarToggle && userDropdownMenu) {
			userAvatarToggle.addEventListener('click', function(event) {
				event.stopPropagation(); // Evita che il click si propaghi al document
				userDropdownMenu.classList.toggle('show');
			});

			// Chiudi il menu se si clicca fuori da esso
			document.addEventListener('click', function(event) {
				if (!userDropdownMenu.contains(event.target) && !userAvatarToggle.contains(event.target)) {
					if (userDropdownMenu.classList.contains('show')) {
						userDropdownMenu.classList.remove('show');
						}
					}
				});
			}
		});
	</script>
	{% block script %}
	{% endblock %}
</body>

</html>