{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MatchMe{% block title %}{% endblock %}</title>
	{% block style %}
	{% endblock %}
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
	<script src="https://unpkg.com/lenis@1.3.3/dist/lenis.min.js"></script> 
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.13.0/gsap.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.13.0/ScrollTrigger.min.js"></script>
</head>

<body>
	<nav class="navbar">
		<div class="container">
			<div class="navbar-brand">
				<a href="{% url 'home' %}">MatchMe</a>
			</div>
			<ul class="navbar-nav">
				<li><a href="#">Home</a></li>
				<li><a href="#">Contact</a></li>
				<li><a href="{% url 'about' %}">About Us</a></li>
			</ul>
			<div class="navbar-actions">
				{% if request.user.is_authenticated %}
					<div class="user-avatar">
                        <img class="user-avatar" src="{% if request.user.profile_picture %}{{ request.user.profile_picture.url }}{% else %}{% static 'img/default.jpg' %}{% endif %}" alt="Foto Profilo"> 
                    </div>
					<form method="POST" action="{% url 'logout' %}">
						{% csrf_token %}
						<button type="submit" class="btn-login">Logout</button>
					</form>
				{% else %}
					<div class="navbar-actions">
						<a href="{% url 'authenticate' %}" class="btn-login">Login</a>
					</div>
				{% endif %}

			</div>
			<div class="hamburger" id="hamburger">
				<i class="fas fa-bars"></i>
			</div>
		</div>
	</nav>
	<main>
		{% block content %}
		{% endblock %}
	</main>
	{% block script %}
	{% endblock %}
</body>

</html>